In [27]:
# For data
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# For visualization
import matplotlib.pyplot as plt
#import seaborn as sns
#sns.set_style('whitegrid')
%matplotlib inline

from __future__ import division

In [28]:
users_df = pd.read_csv('/Users/kevenlemoing/Sites/Lifesum_assignement/data/users.csv',error_bad_lines=False)

In [29]:
users_df.head()

,user_id,start_date,height_cm,age,country,language,gender,timezone,goal_weight_kg
0,24822001,2017-09-14,NaN,18.0,BR,pt,f,-03:00,178.7
1,23529201,2017-07-12,50.0,23.0,NL,nl,m,NaN,50.0
2,24352001,2017-08-21,50.0,20.0,US,en,f,NaN,57.2
3,23379001,2017-07-05,52.0,26.0,GB,en,f,Asia/Calcutta,33.1
4,24776001,2017-09-12,52.0,23.0,CA,en,f,America/Toronto,70.0

In [30]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5810 entries, 0 to 5809
Data columns (total 9 columns):
user_id           5810 non-null int64
start_date        5810 non-null object
height_cm         5809 non-null float64
age               5810 non-null float64
country           5808 non-null object
language          5810 non-null object
gender            5810 non-null object
timezone          5348 non-null object
goal_weight_kg    5810 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 408.6+ KB

# First data cleaning

1) About NaN values

The first option is to drop each row which contains a NaN value: We get 464 rows left. 
It's raisonable but let's apply the second option where we can keep the entire dataset

-> It's about replacing NaN values by a blank.

In [31]:
#First option -> using dropna function
#@TODO count dynamically the difference of number of rows. 
#users_df.dropna()


#Second option 
users_df = users_df.fillna('')
users_df.head()

,user_id,start_date,height_cm,age,country,language,gender,timezone,goal_weight_kg
0,24822001,2017-09-14,,18.0,BR,pt,f,-03:00,178.7
1,23529201,2017-07-12,50,23.0,NL,nl,m,,50.0
2,24352001,2017-08-21,50,20.0,US,en,f,,57.2
3,23379001,2017-07-05,52,26.0,GB,en,f,Asia/Calcutta,33.1
4,24776001,2017-09-12,52,23.0,CA,en,f,America/Toronto,70.0

In [25]:
#Change the type of "age field"

In [24]:
#Uniformize data about the field "timezone"

# First vizualisations

In [9]:
#sns.factorplot('gender',data=users_df)

In [ ]:
#par taille

# Second data cleaning

In [ ]:
##Some goals are not relevant
##Some height_cm are not relevant
##--> definir le poids "bon pour la sant√©" (relation entre poids et taille) et le comparer avec les objectifs du user