In [21]:
import pandas as pd
import numpy as np
from numpy import mean

###### Please find below questions related to "habits" part of the study

- Do people track three meals per day with Lifesum ?
- How likely are you to track tomorrow if you tracked today ?

In [117]:
#Importing all datasets (all of operations are detailled in notebooks from directory called "exploring")

#users with complete timezone
users_df = pd.read_csv('/Users/kevenlemoing/Sites/Lifesum_assignement/data/users_timezone.csv',error_bad_lines=False)

#food
food_df = pd.read_csv('/Users/kevenlemoing/Sites/Lifesum_assignement/data/food.csv',error_bad_lines=False)

#exercise
ex_df = pd.read_csv('/Users/kevenlemoing/Sites/lifesum_assignement/data/exercise.csv',error_bad_lines=False)

#weight
weight_df = pd.read_csv('/Users/kevenlemoing/Sites/lifesum_assignement/data/weight.csv',error_bad_lines=False)

In [47]:
food_df.head()

,food_item_id,user_id,date,meal,title,brand,calories,protein,fat,carbohydrates
0,2365765334,24943001,2017-11-26,breakfast,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
1,2452562629,24633201,2018-01-15,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
2,2338843253,24633201,2017-11-10,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
3,2455280425,24633201,2018-01-16,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
4,2394845446,24633201,2017-12-14,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3

In [118]:
user_id_tracking = food_df.groupby('user_id').date.count()
user_id_tracking.head()

user_id
23296601    1604
23297601       6
23297801      31
23299201      37
23299401       3
Name: date, dtype: int64

In [119]:
print type(user_id_tracking)

<class 'pandas.core.series.Series'>

In [120]:
food_df = food_df.sort('date')
food_df.head()

/Users/kevenlemoing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,food_item_id,user_id,date,meal,title,brand,calories,protein,fat,carbohydrates
279189,2096280051,23304201,2017-06-30,lunch,Kipsate met Pindasaus,NaN,229.0,15.0,13.5,12.0
3023,2095250364,23296601,2017-06-30,dinner,Greek salad,Salads,255.0,16.6,17.3,8.1
317057,2096582790,23305601,2017-06-30,snack,Weißwein,NaN,209.0,0.0,0.0,2.1
125967,2096279451,23304201,2017-06-30,lunch,Mayonaise,NaN,413.0,0.0,46.7,0.2
152627,2096587081,23305601,2017-06-30,dinner,Grüne Bohnen,NaN,104.0,5.7,0.6,19.4

In [122]:
#Focus on user & date
df = pd.DataFrame(columns = ['user_id','date'])
df['user_id'] = food_df['user_id']
df['date'] = food_df['date']
df = df.reset_index(drop=True)
df['date'] = pd.to_datetime(df['date'])
df.head()

    user_id       date
0  23304201 2017-06-30
1  23296601 2017-06-30
2  23305601 2017-06-30
3  23304201 2017-06-30
4  23305601 2017-06-30

In [114]:
#Sort the dataframe by date and make the column `date` as an index
df = df.sort('date')
df = df.set_index('date')

df.head()

/Users/kevenlemoing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

             user_id
date
2017-06-30  23304201
2017-06-30  23304201
2017-06-30  23296601
2017-06-30  23305601
2017-06-30  23296601

In [115]:
#Get the sum of tracking per day 
count_df = df.resample('M').count()
count_df

            user_id
date
2017-06-30       31
2017-07-31    45722
2017-08-31    86816
2017-09-30    83028
2017-10-31    50669
2017-11-30    33554
2017-12-31    21020
2018-01-31    29224
2018-02-28     1034

In [80]:
# Get the amount of users
print len(users_df['user_id'])

5810

In [116]:
#Adding a new column to confirm if the majority of users track three times per day their meals
daily_tracking_freq = []

for i in range(len(count_df['user_id'])):
    if count_df['user_id'][i] / len(users_df['user_id']) < 3:
        
        daily_tracking_freq.append('KO')
    else: 
        daily_tracking_freq.append('OK')

#d = { 'daily_tracking_freq':daily_tracking_freq }
#three_freq = pd.DataFrame(d)

count_df['daily_tracking_freq'] = daily_tracking_freq
count_df

            user_id daily_tracking_freq
date
2017-06-30       31                  KO
2017-07-31    45722                  OK
2017-08-31    86816                  OK
2017-09-30    83028                  OK
2017-10-31    50669                  OK
2017-11-30    33554                  OK
2017-12-31    21020                  OK
2018-01-31    29224                  OK
2018-02-28     1034                  KO

#### Comment: 

Please see above there is a majority of date when users track their meals three times per day