In [18]:
# For data
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
from datetime import datetime, timedelta
import pytz
from pytz import timezone
from pandas.io import sql
import pymysql.cursors
from langdetect import detect

# For visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

from __future__ import division

In [19]:
ex_df = pd.read_csv('/Users/kevenlemoing/Sites/lifesum_assignement/data/exercise.csv',error_bad_lines=False)
ex_df.head()

    user_id        date                        exercise  calories
0  23462401  2017-07-10                Circuit training     218.7
1  25100801  2017-09-30  Marche, normale 3 mph (5 km/h)      65.1
2  25100801  2017-09-30      Course à 8 mph (12,9 km/h)     288.9
3  24774401  2017-09-11                    Rope jumping      35.0
4  24774401  2017-09-11                    Stair Master     117.5

In [20]:
ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39525 entries, 0 to 39524
Data columns (total 4 columns):
user_id     39525 non-null int64
date        39525 non-null object
exercise    39525 non-null object
calories    39525 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ MB

In [21]:
#Because of the diversity of encoding and languages used in the description field "exercice", 
#I make the choice to remove it and don't use it for MySQL purposes
ex_df = ex_df.drop('exercise',1)
ex_df.head()

    user_id        date  calories
0  23462401  2017-07-10     218.7
1  25100801  2017-09-30      65.1
2  25100801  2017-09-30     288.9
3  24774401  2017-09-11      35.0
4  24774401  2017-09-11     117.5

In [22]:
#Save to the MySQL DB, in the table exercise

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='lifesum',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)

ex_df.to_sql(con=connection, name='exercise', if_exists='replace', flavor='mysql')