In [8]:
# For data
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
from datetime import datetime, timedelta
import pytz
from pytz import timezone
from pandas.io import sql
import pymysql.cursors
from langdetect import detect

# For visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

from __future__ import division

In [9]:
food_df = pd.read_csv('/Users/kevenlemoing/Sites/Lifesum_assignement/data/food.csv',error_bad_lines=False)
food_df.head()

,food_item_id,user_id,date,meal,title,brand,calories,protein,fat,carbohydrates
0,2365765334,24943001,2017-11-26,breakfast,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
1,2452562629,24633201,2018-01-15,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
2,2338843253,24633201,2017-11-10,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
3,2455280425,24633201,2018-01-16,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3
4,2394845446,24633201,2017-12-14,lunch,салат капуста огурец,NaN,30.0,0.8,1.8,3.3

In [10]:
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351098 entries, 0 to 351097
Data columns (total 10 columns):
food_item_id     351098 non-null int64
user_id          351098 non-null int64
date             351098 non-null object
meal             351098 non-null object
title            351097 non-null object
brand            108062 non-null object
calories         351098 non-null float64
protein          351098 non-null float64
fat              351098 non-null float64
carbohydrates    351098 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 26.8+ MB

In [11]:
#Because of the diversity of encoding and languages used in the description field "exercice", 
#I make the choice to remove it and don't use it for MySQL purposes 
food_df = food_df.drop('title',1)
food_df = food_df.drop('brand',1)
food_df.head()

,food_item_id,user_id,date,meal,calories,protein,fat,carbohydrates
0,2365765334,24943001,2017-11-26,breakfast,30.0,0.8,1.8,3.3
1,2452562629,24633201,2018-01-15,lunch,30.0,0.8,1.8,3.3
2,2338843253,24633201,2017-11-10,lunch,30.0,0.8,1.8,3.3
3,2455280425,24633201,2018-01-16,lunch,30.0,0.8,1.8,3.3
4,2394845446,24633201,2017-12-14,lunch,30.0,0.8,1.8,3.3

In [12]:
#Save to the MySQL DB, in the table food

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='lifesum',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)

food_df.to_sql(con=connection, name='food', if_exists='replace', flavor='mysql')

In [ ]:
#TO DO (about cleaning)
##Remove NaN values
##Data integrity with protein, calories, fat and carbohydrates 
##--> If information about meal, title and brand are the same do we refind same value in fields mentioned above ? 
##--> check it for same users AND for different users