In [1]:
# For data
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
from datetime import datetime, timedelta
import pytz
from pytz import timezone

from __future__ import division

In [2]:
users_df = pd.read_csv('/Users/kevenlemoing/Sites/Lifesum_assignement/data/users.csv',error_bad_lines=False)
users_df['age'] = users_df['age'].astype(int)
users_df['start_date'] = pd.to_datetime(users_df['start_date'])
timezone_repo = pytz.all_timezones

for i in range (len(users_df['gender'])):
    if pd.notnull(users_df['country'][i]):
        if users_df['timezone'][i] not in timezone_repo:
            country_list = pytz.country_timezones[users_df['country'][i]]
            users_df['timezone'][i] = str(country_list[0])
        timezone = pytz.timezone(users_df['timezone'][i])
        fmt = '%Y-%m-%d %H:%M:%S %Z%z'
        loc_dt = timezone.localize(users_df['start_date'][i])
        timezone_dt = loc_dt.astimezone(timezone)
        users_df['timezone'][i] = timezone_dt.strftime(fmt)

/Users/kevenlemoing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/kevenlemoing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [3]:
users_df.head()

,user_id,start_date,height_cm,age,country,language,gender,timezone,goal_weight_kg
0,24822001,2017-09-14,NaN,18,BR,pt,f,2017-09-14 00:00:00 FNT-0200,178.7
1,23529201,2017-07-12,50.0,23,NL,nl,m,2017-07-12 00:00:00 CEST+0200,50.0
2,24352001,2017-08-21,50.0,20,US,en,f,2017-08-21 00:00:00 EDT-0400,57.2
3,23379001,2017-07-05,52.0,26,GB,en,f,2017-07-05 00:00:00 IST+0530,33.1
4,24776001,2017-09-12,52.0,23,CA,en,f,2017-09-12 00:00:00 EDT-0400,70.0

In [5]:
users_df.to_csv('/Users/kevenlemoing/Sites/lifesum_assignement/data/users_timezone.csv')